<h1>About Us</h1>
<p>This is a pinterest clone app that i built while learning at OMrails<p>
<p><a href="https://github.com/suyesh/pinteresting" target="_blank">Go Here for project codes at Github</a></p>
<p><a href="https://www.linkedin.com/in/suyeshb" target="_blank">Go Here for project My linkedin</a></p>
<p><a href="https:/suyesh.com" target="_blank">Go Here for My personal website</a></p>
